extends layout
 
block content
  h1= fullName
  p One small fun fact about me could be that I have an adorable collection of miniature figurines from different countries, each representing a fond memory or a place you've visited.